    <!-- About Section -->
    <section id="about" class="container content-section text-center">
	<link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
        <div class="about-section">
            <div >
                <h2 style="font-family: 'Special Elite', Montserrat,Helvetica,Arial,sans-serif;">About  Me</h2>
				<p>- Farhad, 26 Iran. </p>
				<p>- Freelance Graphic Design.</p>
				<p>- Adobe Creative Suite.</p>
				<p>- Screen printing, Stencil art, t-shirts.</p>
				<p>- I also teach the last two above.</p>
				<p>&nbsp;</p>
            </div>
        </div>
    </section>