    <!-- About Section -->
<style type="text/css">
	.aboutin{
	background:white url(../website/img/about-bg.gif) no-repeat bottom center scroll;
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	background-size: cover; 
	-o-background-size: cover; 
	color:black;
	text-align: left ;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:15px;
	}
</style>
	
	<div class="aboutin">
    <section id="about" class="container content-section text-center" >
            <div style="text-align: left ;">
                <h2>About  Me</h2>
				<p>- Farhad, 26 Iran. </p>
				<p>- Freelance Graphic Design.</p>
				<p>- Adobe Creative Suite.</p>
				<p>- Screen printing, Stencil art, t-shirts.</p>
				<p>- I also teach the last two above.</p>
				<p>&nbsp;</p>
            </div>
        </div>
    </section>