    <!-- About Section -->
<style type="text/css">
	.aboutin{
	background:white url(../img/about-bg.gif) no-repeat bottom center scroll;
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	background-size: cover; 
	-o-background-size: cover; 
	color:black;
	text-align: left ;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:15px;
	}
    .color{color: gray;
    padding-left: 1em;
    margin-top: -22px;
    font-weight: 400; letter-spacing: 0.5;}
    
</style>
	
	<div class="aboutin">
    <section id="about" class="container content-section text-center" >
            <div style="text-align: left ;">
                <h2>About</h2>
				<p><i class="fa fa-angle-right"></i> Farhad A. 
                <h6 class="color"><i class="fa fa-angle-double-right"></i><em> Graffiti artist, born in Iran, studied in Malaysia and China. </br><i class="fa fa-angle-double-right"></i>works as Graphic designer since 2011.</em></h6>
                </p>
				<p><i class="fa fa-angle-right"></i> Freelance Graphic Design
                <h6 class="color"><i class="fa fa-angle-double-right"></i><em> Branding, logo, Website, brochure, booklet, banner, poster, etc. </em><a href="" <i class="fa fa-external-link-square"></i></a></h6>    
                </p>
                <p><i class="fa fa-angle-right"></i> Digital/Manual Print
                <h6 class="color"><i class="fa fa-angle-double-right"></i><em> Screen printing on posters and t-shirts, Stencil art (Mural, on canvas) .</em></h6>
                </p>
                
				<p><i class="fa fa-angle-right"></i> Adobe Creative Suite</p>
                <h6 class="color"><i class="fa fa-angle-double-right"></i><em> Adobe Potoshop, Illustrator, InDesign (DW, Pr, AE)</em></h6>  
                </p>
				<p><i class="fa fa-angle-right"></i> Workshops / Small Groups / 1 to 1 classes
                <h6 class="color"><i class="fa fa-angle-double-right"></i><em> teaching Adobe Potoshop, Illustrator, InDesign.  </br><i class="fa fa-angle-double-right"></i> holding screen printing (and t-shirt printing) workshops. </em></h6>
                </p>
				<p>&nbsp;</p>
            </div>
        </div>
    </section>