    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading" style=" font-size: 140px; line-height:6px; margin-left:-20px;"><span style="color:cyan;mix-blend-mode: screen; ">Farhadine</span></br><span style="color:magenta;mix-blend-mode: screen;margin-left:5px; ">Farhadine</span></br><span style="color:yellow;mix-blend-mode: screen; margin-left:2px;">Farhadine</span></br></h1>
                        <p class="intro-text"></p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>