    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
					<div class="big">
						<h1 class="brand-heading screen c">Farhadine</h1>
						<h1 class="brand-heading screen m">Farhadine</h1>
						<h1 class="brand-heading screen y" >Farhadine</h1>
					</div>
                        <p class="intro-text">Hello</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>