    <!-- Download Section -->
    <div class="download-section">
        <section id="download" class="content-section text-center">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Portfolio</h2>
                    <p>here are some samples..</p>
					<p> </p>
                    <a href="#" class="btn btn-1c btn-lg">Visit the gallery</a>
					<p> </p>
					<p> </p>
                </div>
            </div>
        </section>
    </div>